h1 {
    font-size: 5vh;
    background-color: aqua;
    text-align: center;
    border: 0.25vh solid black;
    padding-top: 0;
    margin-top: 0;
}
#title {
    display: inline;
}
#rock, #paper, #scissor {
    width: 18vw;
    border-radius: 50%;
}
img:hover {
    transform: scale(110%);
}
#paper,#scissor {
    margin-left: 5vw;
}

p {
    font-size: 3vh;
    text-align: center;
}

#result {
    height: 5vh;
    width: 100%;
    font-size: 3vh;
    background-color: aqua;
    text-align: center;
    border: 0.25vh solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comp-text {
    font-size: 3vh;
    margin-left: 26vw;
    display: inline;
}

.score,#compImage {
    display: inline;
}